<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Templates - News | Confirmação</title>
    <link rel="stylesheet" href="../node_modules/futuremaster/dist/semantic.min.css" type="text/css" media="all" />
  </head>
  <body>
    <nav class="ui inverted futurecom blue main borderless menu">
      <div class="item">
        ✉️ Templates
      </div>
      <a href="../index.html" class="header item">
        Home
      </a>
      <a href="index.html" class="header item">
        Templates
      </a>
    </nav>
    <section class="ui text container segment">
      <h1 class="ui header">Template de Confirmação</h1>
      <script async src="//jsfiddle.net/pixel3/kbon0j1q/embed/html,result/dark/"></script>
      <a href="index.html">
        <i class="left arrow icon"></i>
        Voltar
      </a>
    </section>
  </body>
</html>
