<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Templates - News | Confirmação</title>
    <link rel="stylesheet" href="../futuremaster.min.css" type="text/css" media="all" />
  </head>
  <body>
    <nav class="ui inverted futurecom blue main borderless big menu">
      <a href="../index.html" class="header item">
        Instruções
      </a>
      <a href="index.html" class="header item">
        Templates
      </a>
    </nav>
    <section class="ui text container segment">
      <h1 class="ui header">Template de Confirmação</h1>
      <p>Descrição do Template ...</p>
      <div class="ui info message">
        Copie o conteúdo abaixo ou clique em <em><strong>Edit in JSFiddle</strong></em> para editar e testar online 
        antes de copiar para aplicar na ferramenta de mail marketing.
      </div>
      <script async src="//jsfiddle.net/pixel3/kbon0j1q/embed/html,result/dark/"></script>
      <a href="index.html">
        Voltar
      </a>
    </section>
  </body>
</html>
