<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Templates - News | Templates</title>
    <link rel="stylesheet" href="../node_modules/futuremaster/dist/semantic.min.css" type="text/css" media="all" />
  </head>
  <body>
    <nav class="ui inverted futurecom blue main borderless menu">
      <div class="item">
        ✉️ Templates
      </div>
      <a href="../index.html" class="header item">
        Instruções
      </a>
      <a href="#" class="header item">
        Templates
      </a>
    </nav>
    <section class="ui text container segment">
      <h1 class="ui header">Templates</h1>
			<p>
				Escolha um template abaixo:
			</p>
      <a class="ui button" href="confirmacao.html">Confirmação de Patrocinador</a>
    </section>
  </body>
</html>
